html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0 0; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

@font-face {
  font-family: BebasNeueThin;
  src: url(../fonts/BebasNeueThin.ttf); }

@font-face {
  font-family: BebasNeueLight;
  src: url(../fonts/BebasNeueLight.ttf); }

@font-face {
  font-family: BebasNeueRegular;
  src: url(../fonts/BebasNeueRegular.ttf); }

@font-face {
  font-family: BebasNeueBold;
  src: url(../fonts/BebasNeueBold.ttf); }

@font-face {
  font-family: OpenSans-Light;
  src: url(../fonts/OpenSans-Light.ttf); }

.animate-box-1 {
  -webkit-animation-delay: 0;
          animation-delay: 0; }

.animate-box-2 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s; }

.animate-box-3 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s; }

.animate-box-4 {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s; }

.animate-box-5 {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s; }

.animate-box-6 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s; }

.animate-box-7 {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s; }

.animate-box-8 {
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s; }

.animate-box-9 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.animate-box-10 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s; }

.animate-box-11 {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s; }

.animate-box-12 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s; }

.animate-box-13 {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s; }

.animate-box-14 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s; }

.animate-box-15 {
  -webkit-animation-delay: 5s;
          animation-delay: 5s; }

.animate-box-16 {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s; }

.animate-box-17 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s; }

.animate-box-18 {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s; }

.animate-box-19 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s; }

.animate-box-20 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s; }

.animate-box-21 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s; }

.animate-box-22 {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s; }

.animate-box-23 {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s; }

.animate-box-24 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s; }

.animate-box-25 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s; }

.animate-box-26 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.animate-box-27 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s; }

.animate-box-28 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s; }

.animate-box-29 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s; }

.animate-box-30 {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s; }

.animate-box-31 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s; }

.animate-box-32 {
  -webkit-animation-delay: 5s;
          animation-delay: 5s; }

#checker_1:checked ~ .input-list-text {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

#checker_2:checked ~ .input-list-text {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

#checker_3:checked ~ .input-list-text {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

#checker_4:checked ~ .input-list-text {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

#checker_5:checked ~ .input-list-text {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

#checker_6:checked ~ .input-list-text {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

#checker_7:checked ~ .input-list-text {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

#checker_8:checked ~ .input-list-text {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

#checker_9:checked ~ .input-list-text {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

#checker_10:checked ~ .input-list-text {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

#checker_11:checked ~ .input-list-text {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

#checker_12:checked ~ .input-list-text {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

#checker_13:checked ~ .input-list-text {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

#checker_14:checked ~ .input-list-text {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

#checker_15:checked ~ .input-list-text {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

#checker_16:checked ~ .input-list-text {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

#checker_17:checked ~ .input-list-text {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

#checker_18:checked ~ .input-list-text {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

#checker_19:checked ~ .input-list-text {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

#checker_20:checked ~ .input-list-text {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

#checker_21:checked ~ .input-list-text {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

#checker_22:checked ~ .input-list-text {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

#checker_23:checked ~ .input-list-text {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

#checker_24:checked ~ .input-list-text {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

#checker_25:checked ~ .input-list-text {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

#checker_26:checked ~ .input-list-text {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background-color: #1C1C1C;
  font-family: BebasNeueBold;
  color: #A4A4A4;
  width: 100%;
  height: 100%; }

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%; }

canvas {
  display: block;
  vertical-align: bottom; }

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold; }

.js-count-particles {
  font-size: 1.1em; }

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px; }

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden; }

.count-particles {
  border-radius: 0 0 3px 3px; }

/* ---- particles.js container ---- */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #1C1C1C;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  opacity: .55; }

body::-webkit-scrollbar {
  width: 10px; }

body::-webkit-scrollbar-track {
  background-color: #1C1C1C; }

::-webkit-scrollbar-thumb {
  background-color: #A4A4A4; }

/* ---- main containers ---- */
.wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
  z-index: 2; }

.greeting {
  width: 86%;
  min-height: 90vh;
  margin: 50px auto;
  -webkit-box-shadow: 0 0 100px #000;
          box-shadow: 0 0 100px #000;
  overflow: hidden;
  position: relative;
  background-color: #1C1C1C; }

.greeting-box {
  width: 100%;
  min-height: inherit;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../img/triangles.png");
  background-size: cover; }

.greeting-subtitle {
  font-size: 100px; }

.greeting-title {
  font-size: 190px; }

.look-more-box {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.look-more {
  font-size: 26px;
  text-decoration: none;
  color: #A4A4A4;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.look-more:hover {
  color: #8a2be2;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.animated-line {
  width: 2px;
  height: 60px;
  background-color: #A4A4A4;
  margin-top: 10px;
  overflow: hidden; }

.animated-thumb {
  width: 100%;
  height: 50%;
  background-color: #8a2be2;
  margin-top: -40px;
  -webkit-animation: move-down 2s infinite;
          animation: move-down 2s infinite; }

@-webkit-keyframes move-down {
  0% {
    margin-top: -40px; }
  100% {
    margin-top: 60px; } }

@keyframes move-down {
  0% {
    margin-top: -40px; }
  100% {
    margin-top: 60px; } }

/* ---- animation ---- */
.flow-animated {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-transform: rotateZ(40deg);
      -ms-transform: rotate(40deg);
          transform: rotateZ(40deg); }

.animate-box {
  width: 12.5%;
  height: 25%;
  -webkit-animation: animate-block 6s infinite;
          animation: animate-block 6s infinite; }

@-webkit-keyframes animate-block {
  0% { }
  15% {
    -webkit-box-shadow: 0 0 10px rgba(142, 142, 142, 0.4);
            box-shadow: 0 0 10px rgba(142, 142, 142, 0.4); }
  30% {
    -webkit-box-shadow: none;
            box-shadow: none; } }

@keyframes animate-block {
  0% { }
  15% {
    -webkit-box-shadow: 0 0 10px rgba(142, 142, 142, 0.4);
            box-shadow: 0 0 10px rgba(142, 142, 142, 0.4); }
  30% {
    -webkit-box-shadow: none;
            box-shadow: none; } }

.animate-box-1 {
  -webkit-animation-delay: 0;
          animation-delay: 0; }

.animate-box-2 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s; }

.animate-box-3 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s; }

.animate-box-4 {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s; }

.animate-box-5 {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s; }

.animate-box-6 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s; }

.animate-box-7 {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s; }

.animate-box-8 {
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s; }

.animate-box-9 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.animate-box-10 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s; }

.animate-box-11 {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s; }

.animate-box-12 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s; }

.animate-box-13 {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s; }

.animate-box-14 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s; }

.animate-box-15 {
  -webkit-animation-delay: 5s;
          animation-delay: 5s; }

.animate-box-16 {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s; }

.animate-box-17 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s; }

.animate-box-18 {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s; }

.animate-box-19 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s; }

.animate-box-20 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s; }

.animate-box-21 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s; }

.animate-box-22 {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s; }

.animate-box-23 {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s; }

.animate-box-24 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s; }

.animate-box-25 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s; }

.animate-box-26 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.animate-box-27 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s; }

.animate-box-28 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s; }

.animate-box-29 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s; }

.animate-box-30 {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s; }

.animate-box-31 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s; }

.animate-box-32 {
  -webkit-animation-delay: 5s;
          animation-delay: 5s; }

/* ---- menu ---- */
.menu {
  font-size: 26px;
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 102; }

.menu:hover {
  cursor: pointer; }

.menu-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: -100;
  background-color: #1C1C1C;
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.nav {
  position: absolute;
  top: 20%;
  right: 15%;
  font-size: 52px; }

.nav-item {
  margin: 15px 0; }

.nav_item {
  display: block;
  text-decoration: none;
  color: #8a2be2;
  width: 300px;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  padding: 10px 20px; }

.item_1,
.item_2,
.item_3,
.item_4,
.item_5 {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 25px;
  right: 10px;
  -webkit-transform: rotateZ(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotateZ(-90deg);
  font-size: 26px; }

.open {
  z-index: 100;
  opacity: 1;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.nav_item:hover {
  background-color: #8a2be2;
  color: #000;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.item {
  -webkit-animation: colored 4s infinite;
          animation: colored 4s infinite; }

.item-1 {
  -webkit-animation-delay: .2s;
          animation-delay: .2s; }

.item-2 {
  -webkit-animation-delay: .4s;
          animation-delay: .4s; }

.item-3 {
  -webkit-animation-delay: .6s;
          animation-delay: .6s; }

.item-4 {
  -webkit-animation-delay: .8s;
          animation-delay: .8s; }

@-webkit-keyframes colored {
  0% {
    color: #fff; }
  50% {
    color: #8a2be2; }
  100% {
    color: #fff; } }

@keyframes colored {
  0% {
    color: #fff; }
  50% {
    color: #8a2be2; }
  100% {
    color: #fff; } }

.menu-decor-text {
  width: 700px;
  height: 370px;
  background-image: url("../img/menu-decor.png");
  background-size: cover;
  position: absolute;
  top: 10%;
  left: 20%; }

.bottom-line-box {
  position: absolute;
  left: 0;
  bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 22px;
  opacity: .7; }

.socials {
  position: fixed;
  bottom: 25%;
  left: -6%;
  -webkit-transform: rotateZ(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotateZ(-90deg); }

.social-links {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.829);
  font-size: 22px;
  padding-left: 40px;
  letter-spacing: 1px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.social-links:hover {
  color: #8a2be2;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.web-dev-decor {
  width: 90px;
  height: 720px;
  background-image: url("../img/webdev.png");
  background-size: cover;
  position: fixed;
  bottom: 20px;
  right: 20px; }

.container {
  width: 86%;
  min-height: 90vh;
  margin: 100px auto;
  padding: 50px 80px; }

/* ---- service ---- */
.title {
  font-size: 100px;
  width: 400px;
  margin: 100px 0; }

.info-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.info-box {
  width: 30%;
  position: relative; }
  .info-box_corrects {
    min-height: 300px; }

.info-box-title {
  font-size: 42px; }

.info-description {
  font-family: OpenSans-Light;
  font-size: 18px;
  line-height: 25px;
  margin: 20px 0 60px;
  position: relative; }

.small-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 186px;
  height: 40px;
  background-color: #8a2be2;
  color: #000;
  font-size: 24px;
  text-decoration: none; }
  .small-btn_service-block {
    position: absolute;
    bottom: 0;
    margin-top: 40px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.small-btn:hover {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  color: #fff;
  background-color: transparent;
  border: 2px solid #8a2be2;
  letter-spacing: 1px; }

.seporator {
  border-right: 1px solid #A4A4A4;
  opacity: .25; }

/* ---- portfolio box ---- */
.works {
  -webkit-box-shadow: 0 0 100px #000;
          box-shadow: 0 0 100px #000;
  background-image: url("../img/triangles.png");
  background-size: cover; }

.works-box {
  width: 100%;
  margin: 0 auto 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.work-thumb {
  width: 33.33%;
  height: 300px;
  overflow: hidden; }

.work-thumb img {
  width: 100%;
  height: 100%; }

.horisontal-seporator {
  width: 100%;
  height: 70px; }

.tips-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px; }

.tip-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../img/information.png");
  background-size: cover;
  margin-right: 15px; }

.tip-description {
  font-family: OpenSans-Light;
  color: #fff;
  margin-bottom: 30px; }

/* ---- contacts ---- */
.contacts {
  -webkit-box-shadow: 0 0 100px #000;
          box-shadow: 0 0 100px #000;
  background-image: url("../img/triangles.png");
  background-size: cover;
  position: relative; }

.contacts-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%; }

.c-column {
  width: 50%; }

.col-row {
  font-size: 32px; }

.contacts-links {
  text-decoration: none;
  color: #8a2be2;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.contacts-links:hover {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  color: #7f1b9e; }

.mr-enot {
  width: 300px;
  height: 300px;
  background-image: url("../img/enotvsexvasvrot.png");
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: .8; }

/* ---- brief ---- */
.brief {
  -webkit-box-shadow: 0 0 100px #000;
          box-shadow: 0 0 100px #000; }

.brief-text {
  font-family: OpenSans-Light;
  font-size: 20px; }

.brief-form {
  margin-top: 50px;
  width: 50%; }

.field-name {
  font-size: 32px;
  margin: 40px 0 0; }
  .field-name_margin-bottom {
    margin-bottom: 40px; }

.field-content {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #A4A4A4;
  width: 100%;
  opacity: .67;
  outline: none;
  color: #A4A4A4;
  font-size: 32px; }
  .field-content_textarea {
    border-right: 1px solid #A4A4A4; }

.brief-seporator {
  width: 100%;
  height: 60px; }

.brief-title {
  font-size: 52px;
  margin-top: 70px; }

.brief-text-in {
  font-family: OpenSans-Light;
  font-size: 20px;
  margin: 50px 0;
  line-height: 25px; }

.brief-label {
  font-family: OpenSans-Light;
  font-size: 18px;
  color: #A4A4A4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 30px; }

.brief-checkbox,
.brief-radio {
  margin: 7px 10px 7px 0;
  position: relative;
  top: -2px; }

.brief-radio:before,
.brief-checkbox:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #8a2be2;
  position: relative;
  z-index: -1;
  top: -2px;
  left: -2px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.for-brief-radio {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute; }

.input-list-text {
  line-height: 25px; }

.brief-btn {
  margin: 100px 0;
  background-color: #8a2be2; }

.big-btn {
  width: 300px;
  height: 70px;
  background-color: #8a2be2;
  border: none;
  outline: none;
  font-size: 26px;
  margin-top: 50px;
  -webkit-box-shadow: 0 0 50px #000;
          box-shadow: 0 0 50px #000;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.big-btn:hover {
  border: 2px solid #8a2be2;
  letter-spacing: 1px;
  background-color: transparent;
  color: #A4A4A4;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  cursor: pointer; }

.big-btn:active {
  background-color: #8a2be2;
  -webkit-box-shadow: none;
          box-shadow: none; }

/* ----- page styles ---- */
.current-work-container {
  -webkit-box-shadow: 0 0 100px #000;
          box-shadow: 0 0 100px #000; }

.subtitle {
  font-size: 72px;
  margin-bottom: 50px; }

.work-img-box {
  min-width: 300px;
  width: 100%;
  margin-top: 100px; }

.work-img-box img {
  width: 100%; }

.comment-box {
  margin: 100px auto;
  width: 50%; }

.user-name {
  font-size: 52px; }

.user-comment {
  font-family: OpenSans-Light;
  font-size: 19px;
  line-height: 30px;
  padding: 20px 0; }

/* ---- media ---- */
@media (min-width: 1600px) and (max-width: 1800px) {
  .menu {
    top: 30px;
    right: 30px; }
  .socials {
    left: -8%; } }

@media (min-width: 1350px) and (max-width: 1599px) {
  .menu {
    top: 20px;
    right: 20px; }
  .socials {
    left: -10%; } }
  @media (min-width: 1350px) and (max-width: 1599px) and (min-width: 1400px) and (max-width: 1499px) {
    .socials {
      left: -9%; } }
  @media (min-width: 1350px) and (max-width: 1599px) and (min-width: 1500px) and (max-width: 1599px) {
    .socials {
      left: -8%; } }

@media (min-width: 1350px) and (max-width: 1599px) {
  .container {
    padding: 40px; } }

@media (min-width: 900px) and (max-width: 1349px) {
  .greeting {
    width: 100%;
    min-height: 100vh;
    margin: 0; }
  .socials {
    left: -120px; }
  .hide {
    display: none; }
  .web-dev-decor {
    right: 0;
    z-index: -1; }
  .container {
    width: 100%; }
  .info-container {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .info-box {
    width: 47%; }
    .info-box_corrects {
      margin-bottom: 80px; }
  .seporator {
    border: none; }
  .order {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .work-thumb {
    width: 50%; }
  .contacts {
    margin-bottom: 0;
    min-height: 100vh;
    overflow: hidden; }
  .c-column-left {
    width: 30%; }
  .contacts-box {
    width: 60%; }
  .brief,
  .current-work-container {
    margin: 0; }
  .comment-box {
    width: 70%; }
  .brief-form {
    width: 70%; } }

@media (min-width: 600px) and (max-width: 899px) {
  .greeting {
    width: 100%;
    min-height: 100vh;
    margin: 0; }
  .greeting-subtitle {
    font-size: 60px; }
  .greeting-title {
    font-size: 114px; }
  .hide {
    display: none; }
  .socials {
    left: -20%; }
  .title {
    font-size: 80px; }
  .container {
    width: 100%;
    padding: 20px 40px; }
  .info-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .info-box {
    width: 100%; }
  .info-box_corrects {
    min-height: 250px;
    margin-bottom: 70px; }
  .small-btn_service-block {
    position: static; }
  .web-dev-decor {
    z-index: -1; }
  .work-thumb {
    width: 50%; }
  .contacts {
    margin: 0;
    min-height: 100vh; }
  .contacts-box {
    width: 100%; }
  .c-column-left {
    width: 30%;
    max-width: 150px; }
  .brief {
    min-height: 100vh;
    margin: 0; }
  .brief-form {
    width: 100%; }
  .current-work-container {
    min-height: 100vh;
    margin: 0; }
  .comment-box {
    width: 100%; } }

@media (min-width: 300px) and (max-width: 599px) {
  .greeting {
    width: 100%;
    min-height: 100vh;
    margin: 0; }
  .greeting-subtitle {
    font-size: 40px; } }
  @media (min-width: 300px) and (max-width: 599px) and (max-width: 450px) {
    .greeting-subtitle {
      font-size: 32px; } }

@media (min-width: 300px) and (max-width: 599px) {
  .greeting-title {
    font-size: 76px; } }
  @media (min-width: 300px) and (max-width: 599px) and (max-width: 450px) {
    .greeting-title {
      font-size: 60px; } }

@media (min-width: 300px) and (max-width: 599px) and (max-width: 450px) {
  .look-more {
    font-size: 22px;
    display: block;
    width: 200px;
    text-align: center; } }

@media (min-width: 300px) and (max-width: 599px) {
  .menu {
    top: 20px;
    right: 20px; }
  .menu-decor-text {
    width: 300px;
    height: 200px; }
  .hide {
    display: none; }
  .socials {
    left: -30%; }
  .title {
    font-size: 80px; } }
  @media (min-width: 300px) and (max-width: 599px) and (max-width: 450px) {
    .title {
      font-size: 52px;
      width: 100%; } }

@media (min-width: 300px) and (max-width: 599px) {
  .container {
    width: 100%;
    padding: 20px 40px; } }
  @media (min-width: 300px) and (max-width: 599px) and (max-width: 450px) {
    .container {
      padding: 10px 20px;
      overflow-x: hidden; } }

@media (min-width: 300px) and (max-width: 599px) {
  .info-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .info-box {
    width: 100%; } }

@media (min-width: 300px) and (max-width: 599px) and (max-width: 450px) {
  .info-box-title {
    font-size: 32px; } }

@media (min-width: 300px) and (max-width: 599px) and (max-width: 450px) {
  .info-description {
    font-size: 16px;
    line-height: 25px; }
  .tip-icon {
    background-size: contain; }
  .tip-description {
    line-height: 25px; } }

@media (min-width: 300px) and (max-width: 599px) {
  .info-box_corrects {
    min-height: 250px;
    margin-bottom: 70px; }
  .small-btn_service-block {
    position: static; }
  .web-dev-decor {
    z-index: -1; }
  .work-thumb {
    width: 100%; } }
  @media (min-width: 300px) and (max-width: 599px) and (max-width: 450px) {
    .work-thumb {
      height: 250px; } }

@media (min-width: 300px) and (max-width: 599px) {
  .contacts {
    margin: 0;
    min-height: 100vh; }
  .contacts-box {
    width: 100%; } }

@media (min-width: 300px) and (max-width: 599px) and (max-width: 450px) {
  .col-row {
    font-size: 26px; }
  .mobile-hide {
    display: none; } }

@media (min-width: 300px) and (max-width: 599px) {
  .c-column-left {
    width: 30%;
    max-width: 150px; } }
  @media (min-width: 300px) and (max-width: 599px) and (max-width: 400px) {
    .c-column-left {
      display: none; } }

@media (min-width: 300px) and (max-width: 599px) {
  .brief {
    min-height: 100vh;
    margin: 0; }
  .brief-form {
    width: 100%; }
  .current-work-container {
    min-height: 100vh;
    margin: 0; }
  .comment-box {
    width: 100%; }
  /* --- brief ---- */ }

@media (min-width: 300px) and (max-width: 599px) and (max-width: 450px) {
  .brief-text {
    font-size: 16px;
    line-height: 25px; }
  .field-name {
    margin: 40px 0 0;
    line-height: 35px;
    font-size: 26px; }
    .field-name_margin-bottom {
      margin-bottom: 20px; }
  .brief-title {
    font-size: 42px; }
  .field-content {
    font-size: 26px; }
  .input-list-text {
    font-size: 16px; }
  .brief-btn {
    width: 260px; }
  .subtitle {
    font-size: 42px; }
  .work-img-box {
    width: 280px; }
  .wser-name {
    font-size: 26px; }
  .user-comment {
    font-size: 16px;
    line-height: 25px; }
  /* ---- nav ---- */
  .nav {
    top: 5%;
    left: 0; }
  .nav_item {
    font-size: 26px;
    width: 200px; }
  .nav_item > span {
    font-size: 20px;
    top: 10px; }
  .menu-decor-text {
    opacity: .25; }
  .mobile-hide {
    display: none; } }

/* ---- feedback ---- */
.feedback-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #1C1C1C;
  z-index: 999; }

.mfp-close {
  color: #fff !important; }

.popup-form-box {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.popup-form {
  min-width: 300px;
  width: 50%; }

.popup-field {
  border-bottom: 2px solid #8a2be2; }

.popup-decor {
  opacity: .25; }

.popup-btn {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
