.animate-box-1{
    animation-delay:0;
}
.animate-box-2{
    animation-delay:2s;
}
.animate-box-3{
    animation-delay:1.5s;
}
.animate-box-4{
    animation-delay:3.5s;
}
.animate-box-5{
    animation-delay:2.5s;
}
.animate-box-6{
    animation-delay:4s;
}
.animate-box-7{
    animation-delay:3.5s;
}
.animate-box-8{
    animation-delay:5.5s;
}
.animate-box-9{
    animation-delay:1s;
}
.animate-box-10{
    animation-delay:1.5s;
}
.animate-box-11{
    animation-delay:2.5s;
}
.animate-box-12{
    animation-delay:3s;
}
.animate-box-13{
    animation-delay:3.5s;
}
.animate-box-14{
    animation-delay:3s;
}
.animate-box-15{
    animation-delay:5s;
}
.animate-box-16{
    animation-delay:4.5s;
}
.animate-box-17{
    animation-delay:0.5s;
}

.animate-box-18{
    animation-delay:2.5s;
}

.animate-box-19{
    animation-delay:2s;
}

.animate-box-20{
    animation-delay:3s;
}

.animate-box-21{
    animation-delay:4s;
}

.animate-box-22{
    animation-delay:3.5s;
}

.animate-box-23{
    animation-delay:4.5s;
}

.animate-box-24{
    animation-delay:4s;
}

.animate-box-25{
    animation-delay:2s;
}

.animate-box-26{
    animation-delay:1s;
}

.animate-box-27{
    animation-delay:3s;
}

.animate-box-28{
    animation-delay:2s;
}

.animate-box-29{
    animation-delay:3s;
}

.animate-box-30{
    animation-delay:4.5s;
}

.animate-box-31{
    animation-delay:4s;
}

.animate-box-32{
    animation-delay:5s;
}
