
#checker_1:checked ~ .input-list-text{ 
    color:#fff;
    transition:.3s;
}
#checker_2:checked ~ .input-list-text{
    color:#fff;
    transition:.3s;
}
#checker_3:checked ~ .input-list-text{
    color:#fff;
    transition:.3s;
}
#checker_4:checked ~ .input-list-text{
    color:#fff;
    transition:.3s;
}
#checker_5:checked ~ .input-list-text{
    color:#fff;
    transition:.3s;
}

#checker_6:checked ~ .input-list-text{
    color:#fff;
    transition:.3s;
}
#checker_7:checked ~ .input-list-text{
    color:#fff;
    transition:.3s;
}
#checker_8:checked ~ .input-list-text{
    color:#fff;
    transition:.3s;
}

#checker_9:checked ~ .input-list-text{
    color:#fff;
    transition:.3s;
}
#checker_10:checked ~ .input-list-text{
    color:#fff;
    transition:.3s;
}
#checker_11:checked ~ .input-list-text{
    color:#fff;
    transition:.3s;
}
#checker_12:checked ~ .input-list-text{
    color:#fff;
    transition:.3s;
}
#checker_13:checked ~ .input-list-text{
    color:#fff;
    transition:.3s;
}
#checker_14:checked ~ .input-list-text{
    color:#fff;
    transition:.3s;
}
#checker_15:checked ~ .input-list-text{
    color:#fff;
    transition:.3s;
}
#checker_16:checked ~ .input-list-text{
    color:#fff;
    transition:.3s;
}
#checker_17:checked ~ .input-list-text{
    color:#fff;
    transition:.3s;
}
#checker_18:checked ~ .input-list-text{
    color:#fff;
    transition:.3s;
}
#checker_19:checked ~ .input-list-text{
    color:#fff;
    transition:.3s;
}
#checker_20:checked ~ .input-list-text{
    color:#fff;
    transition:.3s;
}
#checker_21:checked ~ .input-list-text{
    color:#fff;
    transition:.3s;
}
#checker_22:checked ~ .input-list-text{
    color:#fff;
    transition:.3s;
}
#checker_23:checked ~ .input-list-text{
    color:#fff;
    transition:.3s;
}
#checker_24:checked ~ .input-list-text{
    color:#fff;
    transition:.3s;
}
#checker_25:checked ~ .input-list-text{
    color:#fff;
    transition:.3s;
}
#checker_26:checked ~ .input-list-text{
    color:#fff;
    transition:.3s;
}
