@font-face {
    font-family: BebasNeueThin; 
    src: url(../fonts/BebasNeueThin.ttf); 
}

@font-face {
    font-family: BebasNeueLight; 
    src: url(../fonts/BebasNeueLight.ttf); 
}

@font-face {
    font-family: BebasNeueRegular; 
    src: url(../fonts/BebasNeueRegular.ttf); 
}

@font-face {
    font-family: BebasNeueBold; 
    src: url(../fonts/BebasNeueBold.ttf); 
}


@font-face {
    font-family: OpenSans-Light; 
    src: url(../fonts/OpenSans-Light.ttf); 
}





