$thin:BebasNeueThin;
$light:BebasNeueLight;
$regular:BebasNeueRegular;
$bold:BebasNeueBold;
$sanslight:OpenSans-Light;

$main:#8a2be2;
$bgcolor:#1C1C1C;
$text-color:#A4A4A4;
$black:#000;

//#8a2be2
//rgb(55, 175, 25)